<div class="container">
  <div class="small-cont spinner-cont">
    <div>
      Spinner with id <b>{{ smallSpinnerId }}</b>
      <br>
      Asset provided throw Injection in module
    </div>

    <ngx-smart-spinner
      [id]="smallSpinnerId"
    ></ngx-smart-spinner>
  </div>

  <div class="big-cont spinner-cont">
    <div>
      Spinner with id <b>{{ bigSpinnerId }}</b>
      <br>
      Asset provided by content projection and changed default size
      <br>
      Will be called after first request is ended
    </div>

    <ngx-smart-spinner
      [size]="100"
      [id]="bigSpinnerId"
    >
      <img src="/assets/icons/spinner-2.svg">
      <!-- <img src="/ngx-smart-spinner/assets/icons/spinner-2.svg"> -->
    </ngx-smart-spinner>
  </div>

  <div class="small-cont spinner-cont">
    <div>
      Spinner with id <b>{{ smallSpinnerId }}</b>
      <br>
      Asset provided throw Injection in module
    </div>

    <ngx-smart-spinner
      [id]="smallSpinnerId"
    ></ngx-smart-spinner>
  </div>
</div>
